/* font-family: 'Montserrat', sans-serif; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 10%;
  z-index: 10;
}

header .logo a {
  font-weight: 500;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

header .menu {
  display: flex;
}

header .menu a {
  font-weight: 400;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

header .menu .link {
  padding: 20px;
}

header .menu .dropdown {
  position: relative;
}

header .menu .dropdown:hover .sub-menu,
header .menu .dropdown .sub-menu:hover {
  display: block;
}

header .menu .dropdown .sub-menu {
  display: none;
  position: absolute;
  transform: translate(0, 10px, 0);
  background-color: white;
  color: red;
  padding: 6px;
  min-width: 100px;
  border-radius: 3px;
}

header .menu .dropdown .sub-menu a {
  color: black;
  display: block;
  padding: 6px;
}

#jumbo {
  background: black;
  height: 100vh;
  width: 100%;
  position: relative;
}

#jumbo .bg-image {
  background: url("jumbobg.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}

#jumbo .transparent-color {
  background: rgba(69, 64, 80, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

#jumbo .titles {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#jumbo .titles h1 {
  font-size: 6rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

#jumbo .titles h2 {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
}
